<div class="m-5 checkout-form">
  <div class="m-5 p-5">
    <form [formGroup]="placeOrderForm" (ngSubmit)="onSubmit()">
      <!-- customer information -->
      <fieldset class="p-3 customer-fieldset" formGroupName="customerInfo">
        <legend class="customer-border">Customer</legend>
        <div class="form-row">
          <div class="col-md-4">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control"
                   id="firstname" placeholder="first name"
                   formControlName="firstName"
                   name="firstName" required>
            <span class="help-block error"
                  *ngIf="firstname.touched &&
                   (firstname.hasError('required') || firstname.errors.notOnlyWhitespace)">
              First name is required
            </span>
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="col-md-4">
            <label for="middleName">Middle Name</label>
            <input type="text" class="form-control" id="middleName"
                   placeholder="middle name"
                   formControlName="middleName"
                   name="middleName">
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="col-md-4">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control"
                   formControlName="lastName"
                   id="lastname" placeholder="last name" required
                   name="lastName">
            <span class="help-block error"
                  *ngIf="lastname.touched &&
                  (lastname.hasError('required') || lastname.errors.notOnlyWhitespace)">
              Last name is required
            </span>
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="col-md-4">
            <label for="email">Email</label>
            <input type="email" class="form-control"
                   id="email" name="email"
                   formControlName="email"
                   placeholder="example@email.com" email required>
            <span class="help-block error"
                  *ngIf="email.touched && email.hasError('required')">
              Email is required
            </span>
            <span class="help-block error"
                  *ngIf="email.touched && email.hasError('pattern')">
              Email is invalid
            </span>
          </div>
        </div>
      </fieldset>


      <fieldset class="mt-5 p-3 customer-fieldset" formGroupName="shippingAddress">
        <legend class="customer-border">Shipping Address</legend>

        <div class="form-row">
          <div class="col-md-2">
            <label for="country">Country</label>
            <select name="country" id="country" class="custom-select" formControlName="country"
                    (ngModelChange)="onCountryChange($event)">
              <option value="0">Select a country</option>
              <option value="{{country.code}}" *ngFor="let country of countries">{{country.name}}</option>
            </select>
            <span class="help-block error"
                  *ngIf="shippingCountry.touched && shippingCountry.hasError('required')">
              Country is required
            </span>
          </div>
        </div>

        <div class="form-group mt-3">
          <label for="street">Street</label>
          <input type="text" class="form-control" id="street" name="street" formControlName="street" required>
          <span class="help-block error"
                *ngIf="shippingStreet.touched &&
                 (shippingStreet.hasError('required') || shippingStreet.errors.notOnlyWhitespace)">
              Street is required
            </span>
        </div>
        <div class="form-row">
          <div class="col-md-3 mb-3 pr-5">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" name="city" formControlName="city" required>
            <span class="help-block error"
                  *ngIf="shippingCity.touched &&
                  (shippingCity.hasError('required') || shippingCity.errors.notOnlyWhitespace)">
              City is required
            </span>
          </div>
          <div class="col-md-3 mb-3 pr-5 pl-5">
            <label for="state">State</label>
            <select name="state" id="state" class="custom-select" formControlName="state">
              <option value="0">Select a state</option>
              <option value="{{state.id}}"
                      *ngFor="let state of states">{{state.name}}</option>
            </select>
            <span class="help-block error"
                  *ngIf="shippingState.touched && shippingState.hasError('required')">
              State is required
            </span>
          </div>
          <div class="col-md-3 mb-3 pl-5 pr-5">
            <label for="zipcode">Zip Code</label>
            <input type="text" class="form-control" id="zipcode" name="zipcode" formControlName="zipcode" required>
            <span class="help-block error"
                  *ngIf="shippingZipcode.touched &&
                  (shippingZipcode.hasError('required') || shippingZipcode.errors.notOnlyWhitespace)">
              Zip Code is required
            </span>
          </div>

        </div>

        <!-- credit Card -->
      </fieldset>
      <fieldset class="mt-5 p-3 customer-fieldset" formGroupName="creditCard">
        <legend class="customer-border">Credit Card</legend>
        <div class="form-row">
          <div class="col-md-2">
            <label for="cardType">Card Type</label>
            <select name="billingCountry" id="cardType"
                    formControlName="cardType"
                    class="custom-select">
              <option value="0">VISA</option>
              <option value="1">MASTER</option>
            </select>
          </div>
        </div>

        <div class="form-row mt-3">
          <div class="col-md-4">
            <label for="cardHolder">Card Holder</label>
            <input type="text" class="form-control"
                   id="cardHolder" placeholder="Card Holder"
                   formControlName="cardHolder"
                   name="cardHolder" required>
            <span class="help-block error"
                  *ngIf="placeOrderForm.get('creditCard.cardHolder').touched && placeOrderForm.get('creditCard.cardHolder').hasError('required')">
              Card holder is required
            </span>
          </div>

        </div>
        <div class="form-row mt-3">
          <div class="col-md-4">
            <label for="cardHolder">Card Number</label>
            <input type="text" class="form-control"
                   id="cardNumber" placeholder="Card Number"
                   formControlName="cardNumber"
                   name="cardNumber" required>
            <span class="help-block error"
                  *ngIf="placeOrderForm.get('creditCard.cardNumber').touched && placeOrderForm.get('creditCard.cardNumber').hasError('required')">
              Card number is required
            </span>
          </div>
        </div>

        <div class="form-row mt-3">
          <div class="col-md-3 mb-3 pr-5">
            <label for="securityCode">Security Code</label>
            <input type="text" class="form-control col-md-8"
                   name="securityCode"
                   formControlName="securityCode"
                   id="securityCode" placeholder="example: 123">
            <span class="help-block error"
                  *ngIf="placeOrderForm.get('creditCard.securityCode').touched && placeOrderForm.get('creditCard.securityCode').hasError('required')">
              Security Code is required
            </span>
          </div>
          <div class="col-md-3 mb-3 pl-3 ">
            <label>Expiration Date</label>
            <div class="form-row">
              <select class=" form-control col-md-4"
                      name="expiration"
                      formControlName="expirationYear"
                      id="expirationYear" data-size="5" (ngModelChange)="onMonthChanges($event)">
                <option value="0">Year</option>
                <option value="{{year}}" *ngFor="let year of creditCardYears">{{year}}</option>
              </select>
              <select  class="ml-3 form-control col-md-4"
                     name="expiration"
                     formControlName="expirationMonth"
                     id="expirationMonth" (ngModelChange)="onYearChanges($event)">
                <option value="0">Month</option>
                <option value="{{month}}" *ngFor="let month of creditCardMonths">{{month}}</option>
              </select>

            </div>
            <span class="help-block error"
                  *ngIf="expirationMonth.touched
                  &&expirationMonth.hasError('required')
                  ||expirationYear.touched
                  && expirationYear.hasError('required')
                ">
              Expiration date is required
            </span>
          </div>
        </div>

      </fieldset>

      <!-- Billing Address -->
      <fieldset class="mt-5 p-3 customer-fieldset" formGroupName="billingAddress">
        <legend class="customer-border">Billing Address</legend>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox"
                   id="sameAsShipping" (change)="onSelectSameAsShipping()"
                   [checked]="sameAsShipping">
            <label class="form-check-label" for="sameAsShipping">
              Same as shipping address
            </label>
          </div>
        </div>
        <div *ngIf="!sameAsShipping">
          <div class="form-row">
            <div class="col-md-2">
              <label for="billing-country">Country</label>
              <select name="billingCountry" id="billing-country"
                      formControlName="billingCountry"
                      (ngModelChange)="onCountryChange($event)"
                      class="custom-select">
                <option value="0">Select a country</option>
                <option value="{{country.code}}" *ngFor="let country of countries">{{country.name}}</option>
              </select>
              <span class="help-block error"
                    *ngIf="placeOrderForm.get('billingAddress.billingCountry').touched && placeOrderForm.get('billingAddress.billingCountry').hasError('required')">
              Country is required
            </span>
            </div>
          </div>
          <div class="form-group mt-3">
            <label for="billing-street">Street</label>
            <input type="text" class="form-control" id="billing-street"
                   name="billingStreet"
                   formControlName="billingStreet"
            >
            <span class="help-block error"
                  *ngIf="placeOrderForm.get('billingAddress.billingStreet').touched && placeOrderForm.get('billingAddress.billingStreet').hasError('required')">
              Street is required
            </span>
          </div>
          <div class="form-row">
            <div class="col-md-3 mb-3 pr-5">
              <label for="billing-city">City</label>
              <input type="text" class="form-control"
                     name="billingCity"
                     formControlName="billingCity"
                     id="billing-city">
              <span class="help-block error"
                    *ngIf="placeOrderForm.get('billingAddress.billingCity').touched && placeOrderForm.get('billingAddress.billingCity').hasError('required')">
              City is required
            </span>
            </div>
            <div class="col-md-3 mb-3 pr-5 pl-5">
              <label for="billing-state">State</label>
              <select name="billingState" id="billing-state"
                      formControlName="billingState"
                      class="custom-select">
                <option value="0">Select a state</option>
                <option value="{{state.id}}"
                    *ngFor="let state of states">{{state.name}}</option>
              </select>
              <span class="help-block error"
                    *ngIf="placeOrderForm.get('billingAddress.billingState').touched && placeOrderForm.get('billingAddress.billingState').hasError('required')">
              State is required
            </span>
            </div>
            <div class="col-md-3 mb-3 pl-5 pr-5">
              <label for="billing-zipcode">Zip Code</label>
              <input type="text" class="form-control"
                     name="billingZipcode"
                     formControlName="billingZipcode"
                     id="billing-zipcode">
              <span class="help-block error"
                    *ngIf="placeOrderForm.get('billingAddress.billingZipcode').touched && placeOrderForm.get('billingAddress.billingZipcode').hasError('required')">
              Zip Code is required
            </span>
            </div>
          </div>
        </div>

      </fieldset>

      <fieldset class="mt-5 p-3 customer-fieldset">
        <legend class="customer-border">Order Summary</legend>
        <table>
          <tr>
            <th>Products:</th>
            <td><span class="ml-5">{{productPrice | currency :'USD'}}</span></td>
          </tr>
          <tr>
            <th>Shipping Fee:</th>
            <td><span class="ml-5">{{shippingFee | currency:'USD'}}</span></td>
          </tr>
          <tr>
            <th> Order Total:</th>
            <td><span class="ml-5">{{totalPrice | currency:'USD'}}</span></td>
          </tr>
        </table>
      </fieldset>

      <button type="submit" class="btn btn-primary my-5" [disabled]="placeOrderForm.invalid">Place Order</button>
    </form>
  </div>

</div>
